body{
    background-color: orangered;
}

thead , tfoot{
    background-color: orange;
    color: whitesmoke;
    font-family: Harvard style, Helvetica, sans-serif;
    font-size: 12pt;
}

div#menu {
    text-align: center;
    font-family: 'Harvard style', Courier, monospace;
    padding: 14x;
    color: orchid;
}